body,
html {
  margin: 0;
  padding: 0;
}
:root {
  --main-color: rgb(0, 98, 255);
  --sub-title-color: rgba(75, 75, 75, 1);
}

/*----------------------------------
  |||||||||||SECTION EUROPE|||||||||||||
  ----------------------------------*/

#gioiThieu__Euro-container {
  height: fit-content;
  width: 85%;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}

.gioiThieu__Euro-left {
  width: 45%;
  flex: 45%;
}
.slider-container-Euro-left {
  width: 100%;
  height: 100%;
}

#slider-top-Euro-left {
  margin: 0 auto;
}
#slider-top-Euro-left {
  width: 100%;
  height: 80%;
}
#slider-top-Euro-left img {
  margin-top: 30px;
  object-fit: cover;
  border-radius: 24px;
  height: 350px;
  width: 100%;
  pointer-events: none;
}
#slider-top-Euro-left .slick-slide {
  margin: 0 20px;
}
.media__slider-bot-Euro-left {
  text-align: center;
  height: 20%;
}

.follow-us {
  margin-bottom: 10px;
  color: var(--sub-title-color);
  text-transform: uppercase;
  font-size: 16px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 10px;
}
.social-icons i {
  color: var(--main-color);
  font-size: 24px;
}

.gioiThieu__Euro-right {
  width: 35%;
  height: 100%;
  flex: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateY(0);
}

.gioiThieu__Euro-right-top {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  padding: 20px;
  width: 80%;
  height: 40%;
}
.Euro-image-decription {
  display: block;
  height: 60px;
  width: 90%;
  text-align: start;
  font-size: 13px;
  color: var(--sub-title-color);
}
h1#Euro-image-title {
  font-size: 90px;
  color: rgb(0, 98, 255);
}

.gioiThieu__Euro-right-bot {
  padding: 20px;
}

.hidden-content {
  height: 300px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
.show {
  height: auto;
  -webkit-mask-image: none;
  mask-image: none;
}
#readless-btn {
  margin-top: 20px;
  display: none;
}
#readless-btn,
#readmore-btn {
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 98, 255);
  background: transparent;
}
.readmore__content {
  font-size: 16px;
  color: #555555;
}
.benDuoi__title-gioiThieu__Euro {
  font-size: 24px;
  margin-bottom: 50px;
  color: rgb(75, 75, 75) !important;
}
.gioiThieu__Euro-right-bot {
  position: relative;
}
.fade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

p.title__Euro-right {
  text-align: center;
  letter-spacing: 0.055em;
  height: 8%;
  color: rgba(75, 75, 75, 1);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 20px;
}
.gioiThieu__Euro-right > p.follow-us-Euro-right {
  margin-top: 15px;
  letter-spacing: 0.055em;
  height: 8%;
  color: rgba(75, 75, 75, 1);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
}
.media__img-Euro-right {
  height: 350px;
  width: 80%;
  border-radius: 12px;
  overflow: hidden;
}
.media__img-Euro-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}
.gioiThieu__Euro-right ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}
.gioiThieu__Euro-right li {
  position: relative;
  padding: 0 35px;
}
.gioiThieu__Euro-right i {
  transition: all 0.3s;
  transform: scale(1.5);
}
.gioiThieu__Euro-right li:hover i {
  transform: scale(2.7);
  transition: all 0.3s;
}
.gioiThieu__Euro-right li:hover .fab.fa-facebook {
  color: #1877f2; /* Màu Facebook */
}

.gioiThieu__Euro-right li:hover .fab.fa-youtube {
  color: #ff0000; /* Màu YouTube */
}

.gioiThieu__Euro-right li:hover .fab.fa-instagram {
  color: #e4405f; /* Màu Instagram */
}

.gioiThieu__Euro-right li:hover .fab.fa-twitter {
  color: #1da1f2; /* Màu Twitter */
}
@media screen and (max-width: 1024px) {
  #gioiThieu__Euro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gioiThieu__Euro-left {
    width: 90%;
  }
  .slider-container-Euro-left {
    width: 100%;
  }
  #slider-top-Euro-left {
    width: 100%;
    height: 300px;
    min-height: 360px;
  }
  #slider-top-Euro-left img {
    height: 300px;
  }

  .gioiThieu__Euro-right {
    width: 100%;
  }
  .hidden-content {
    width: 100%;
  }
  .benDuoi__title-gioiThieu__Euro {
    font-size: 18px;
    width: 100%;
  }
  @media screen and (max-width: 800px) {
    h1#Euro-image-title {
      font-size: 64px;
    }
  }
}

/*----------------------------------
  ||||||||||SECTION AMERICA||||||||||||
  ----------------------------------*/

#america__nuocNgoai-container {
  margin: 0 auto;
  width: 90%;
  height: 620px;
  display: flex;
  justify-content: space-between;
}

.america__nuocNgoai-left {
  width: 70%;
}

.america__nuocNgoai-top-left {
  height: 90%;
  width: 90%;
}

.box-container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.box {
  margin: 10px 0;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 24px;
  overflow: hidden;
}
.box-container .box {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 -2px 5px white;
  transition: all 1s;
}
.box:hover {
  box-shadow: -5px 5px 5px rgba(1, 12, 140, 0.378);
  transition: all 1s;
  z-index: 10;
}

.box-image {
  height: 100px;
  width: 100px;
  margin: 5px;
  overflow: hidden;
  border-radius: 24px;
  transition: ease-in-out 0.7s;
  background-image: url(./image/hanoi-slider.webp);
  background-size: cover;
  background-position: center;
}

.box:hover .box-image {
  width: 250px;
  height: 110px;
  transform: translateX(0) translateY(0);
  transition: ease-in-out 0.7s;
}

.box-text {
  width: 60%;
  margin-left: 15px;
}
.box-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(0, 98, 255);
  font-size: 20px;
}

p.box-description {
  text-align: left;
  width: 100%;
}
.america__nuocNgoai-bot-left {
  height: 10%;
}

.america__nuocNgoai-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.america-mainImg-container {
  height: 100%;
  width: 100%;

  position: relative;
}
.america-mainImg-container p#describe-americas__1 {
  position: absolute;
  font-size: 48px;
  font-weight: 600;
  top: 13%;
  right: 60px;
  z-index: -1;

  background: linear-gradient(120deg, rgb(253, 253, 253), rgb(253, 0, 0));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.america-mainImg-container p#describe-americas__2 {
  position: absolute;
  font-size: 48px;
  font-weight: 600;
  top: 33%;
  right: 240px;
  z-index: -1;

  background: linear-gradient(120deg, rgb(255, 0, 0), rgb(0, 34, 253));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.america-mainImg-container p#describe-americas__3 {
  position: absolute;
  font-size: 48px;
  font-weight: 600;
  top: 53%;
  right: 50px;
  z-index: 3;

  background: linear-gradient(120deg, rgb(38, 0, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.america-mainImg-container img {
  position: absolute;
  bottom: 0px;
  height: 130%;
  width: auto;
  z-index: 2;
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
.america-mainImg-container h2 {
  position: absolute;
  font-size: 168px;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  padding-left: 5px;
}

@media screen and (max-width: 800px) {
  #america__nuocNgoai-container {
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .america__nuocNgoai-left {
    width: 95%;
    z-index: 10;
    margin: 0 auto;
  }
  .box-container {
    margin: 0 auto;
  }
  .box {
    background-color: #ffffff1f;
  }
  .america__nuocNgoai-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -10;
  }
  .america__nuocNgoai-right img {
    position: relative;
    opacity: 0.5;
    max-height: 700px;
    margin-left: calc(90% - 230px);
  }

  .america-mainImg-container p#describe-americas__1 {
    display: none;
  }

  .america-mainImg-container p#describe-americas__2 {
    display: none;
  }
  .america-mainImg-container p#describe-americas__3 {
    display: none;
  }
  .america-mainImg-container h2 {
    font-size: 85px;
    bottom: 90px;
  }
  .box-title {
    font-size: 16px;
  }

  p.box-description {
    font-size: 13px;
  }
}

/*----------------------------------
  |||||||||||SECTION ASIA|||||||||||||
  ----------------------------------*/
#asia__nuocNgoai-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 250px;
  margin: 0 auto;
}
.end__section {
  width: 85%;
  height: 1px;
  background-color: #645f5f64;
  margin: 30px auto;
}
.asia__left {
  width: 80%;
}
.asia__left-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 95%;
  justify-content: space-between;
}
.asia__left-content-top {
  height: 30%;
  width: max-content;
}
.asia__left-content-top a {
  text-decoration: none;
}
.asia__left-content-top p {
  padding-left: 30px;
  font-size: 128px;
  font-weight: 600;
  color: rgb(0, 98, 255);
}

.asia__left-content-bot {
  height: 40%;
  width: 100%;
}
.asia__left-content-bot p {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #555555;
  max-width: 70%;
}
.asia__right {
  width: 20%;

  position: relative;
}
.asia__right-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  list-style-type: none;
  padding: 0;
  text-align: start;
}

.asia__right-menu li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.asia__right-menu li p {
  font-size: 12px;
  color: rgba(75, 75, 75, 1);
  font-weight: 600;
}
.asia__right-menu li a {
  color: #000000;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;

  border-bottom: solid 1px;
}
.asia__right-menu li a:hover {
  border-bottom: solid 1px var(--main-color);
  color: var(--main-color);
}
.asia__right-menu-title {
  font-size: 20px;
  color: rgba(75, 75, 75, 1);
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .asia__right-menu-title__a {
    white-space: nowrap;
  }

  .asia__right {
    width: 40%;
  }
  @media screen and (max-width: 800px) {
    #asia__nuocNgoai-container {
      display: flex;
      justify-content: start;
      flex-direction: column;
      height: 500px;
    }
    .asia__left {
      width: 100%;
    }
    .asia__left-content-bot p {
      max-width: 100%;
    }
    .asia__left-content-bot {
      -webkit-mask-image: linear-gradient(
        to bottom,
        black 50%,
        transparent 100%
      );
      mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    }

    .asia__right-menu {
      margin-top: 30px;
      position: unset;
      transform: unset;
    }
  }
  @media screen and (max-width: 500px) {
  }
}

/*----------END SECTION ASIA---------------*/

/*tái sử dụng của trong nước, cái slider 4x6 ấy*/
