@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald:wght@700&display=swap');

body{
  margin: 0;
  padding: 0;
  font-size: 16;
background-image: url(../image/saukhicat3.jpg);  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 500px) {
  body {
    background-size: 500px;
    background-position-x: center;
  }
}

.menu-container{
  display: grid;
  justify-items: center;
}
#menu{
  width: auto;
  height: 40px;
  background-color: transparent;
  border-radius: 7px;
}
ul.menu-parent{ /* kỉ niệm ngồi đến 3h sáng nhận ra padding mặc định = 40 :))*/
  padding: 0;
  margin: 0;
}
ul.menu-parent li{
  list-style: none;
  float: left;
}
#menu ul.menu-parent>li>a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 700;
  margin: 15px;
  padding: 0px 5px 0px 5px;
  line-height: 39px;
  
}

/*(1) TOÀN BỘ ĐỐNG NÀY CHỈ NHẰM TẠO HIỆU ỨNG HOVER CHO MENU*/
#menu ul.menu-parent>li:first-child>a:hover {
  transition: ease-in-out 0.3s;
  font-size: 18px;
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 187, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 187, 0)) 1;
}
.datVe:hover {
  transition: ease-in-out 0.3s;
  font-size: 18px !important;
  background-image: linear-gradient(to right, rgb(253, 211, 0), rgb(254, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(255, 183, 0), rgb(255, 0, 0)) 1;
}
.lienHe:hover {
  transition: ease-in-out 0.3s;
  font-size: 18px !important;
  background-image: linear-gradient(to right, rgb(253, 253, 253), rgb(38, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 255, 4)) 1;
}
#menu ul.menu-parent>li:nth-child(5)>a:hover {
  transition: ease-in-out 0.3s;
  font-size: 18px;
  background-image: linear-gradient(to right, rgb(68, 255, 0), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(43, 255, 0), rgb(255, 255, 255)) 1;
}

/*child(3) la nut HOME*/
#menu ul.menu-parent>li:nth-child(3)>a:hover {
  transition: ease-in-out 0.4s;
  font-size: 44px !important;
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 0, 0)) 1;
}
#menu ul.menu-parent>li>a{
  transition: ease-in 0.45s; /* Thêm transition cho element a khi không hover */
}

#menu ul.menu-parent>li>a:not(:hover){
  font-size: 16px;
}
/*(1) KẾT THÚC (1)*/

ul.submenu {
  width: 230px;
  min-height: auto;
  background-color: transparent;
  position: absolute;
  display: none;
  padding-left: 0px;
}

ul.menu-parent > li:hover > ul.submenu {
  display: block;
}

ul.submenu li {
  list-style: none;
}

ul.submenu li a {
  display: block;
  line-height: 40px;
  text-indent: 20px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 700;
  padding-right: 15px;
  line-height: 39px;
}

/*(2) TẠO HIỆU ỨNG HOVER CHO SUBMENU CỦA ĐẶT VÉ*/
#menu ul.submenu > li > a > p{
  padding: 0;
  margin: 0;
}
#menu ul.submenu > li > a{
  transition: ease-in 0.3s;
}
#menu ul.submenu > li > a:hover{
  transition: ease-in-out 0.3s;
  font-size: 18px;
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 187, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 187, 0)) 1;
}
#menu ul.submenu > li > a:not(:hover){
  font-size: 16px;
}
/*(2) KẾT THÚC (2)*/

/*(3) TẠO HIỆU ỨNG HOVER CHO SUBMENU CỦA LIÊN HỆ*/
a.fb:hover >p{
  transition: ease-in 0.27s ;
  background-image: linear-gradient(to right, rgb(0, 17, 255), rgb(0, 157, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 18px;
}
#menu ul.submenu > li > a.fb:hover{
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(0, 183, 255), rgb(0, 0, 255)) 1;

}
a.instagram:hover > p{
  transition: ease-in 0.27s ;
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(25, 29, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 18px;
}
#menu ul.submenu > li > a.instagram:hover{
border-bottom: 2px solid transparent;
border-image: linear-gradient(to right, rgb(0, 42, 255), rgb(255, 4, 0)) 1;
}

a.hotline:hover > p{
  transition: ease-in 0.27s ;
  background-image: linear-gradient(to right, rgb(19, 144, 0), rgb(0, 203, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 18px;
}
#menu ul.submenu > li > a.hotline:hover{
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(0, 132, 4), rgb(0, 255, 0)) 1;
}

/*(3) KẾT THÚC (3)*/

/*(4) TẠO HIỆU ỨNG ẨN ĐI CHO ELEMENT 1, 2*/
@media screen and (max-width: 700px) {
  /*Ẩn đi 2 element thừa*/
  #menu .menu-parent>li:first-child,
  #menu .menu-parent>li:last-child {
    display: none;
  }
  
  /* Căn giữa */
  #menu .menu-parent {
    display: flex;
    justify-content: center;
  }
}
/*LÀM CHO 4 ELEMENT THỪA ẨN ĐI KHI MÀN QUÁ NHỎ*/
@media screen and (max-width: 370px) {
  /*Ẩn đi 4 element thừa khi màn qúa nhỏ hehe*/
  #menu .menu-parent > *:not(:nth-child(3)),
  #menu .menu-parent > *:nth-child(1),
  #menu .menu-parent > *:nth-child(2),
  #menu .menu-parent > *:nth-child(4),
  #menu .menu-parent > *:nth-child(5) {
    display: none;
  }
  
  /* Căn giữa */
  #menu .menu-parent {
    display: flex;
    justify-content: center;
  }
}
/*(4) KẾT THÚC (4)*/