@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald:wght@700&display=swap');

body{
  margin: 0;
  padding: 0;
  font-size: 16;
  background-image: url(../image/saukhicat3.jpg);  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;  

}

@media screen and (max-width: 500px) {
  body {
    background-size: 500px;
    background-position-x: center;
    background-attachment: fixed  ;
  }
}

.menu-container {
  position: absolute;
  z-index: 1000;
  top: 5vh; /* Đặt khoảng cách từ cạnh trên của viewport là 5% chiều cao của viewport */
  left: 0;
  right: 0;
  display: grid;
  justify-items: center;
  align-items: center;
}

#menu{
  width: auto;
  height: 40px;
  background-color: transparent;
  border-radius: 7px;
}
ul.menu-parent{ /* kỉ niệm ngồi đến 3h sáng nhận ra padding mặc định = 40 :))*/
  padding: 0;
  margin: 0;
}
ul.menu-parent li{
  list-style: none;
  float: left;
}
#menu ul.menu-parent>li>a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  margin: 15px;
  padding: 0px 5px 0px 5px;
  line-height: 39px;
  
}

/*(1) TOÀN BỘ ĐỐNG NÀY CHỈ NHẰM TẠO HIỆU ỨNG HOVER CHO MENU*/
#menu ul.menu-parent>li:first-child>a:hover {
  transition: ease-in-out 0.3s;
  font-size: 18px;
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 187, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 187, 0)) 1;
}
.datVe:hover {
  transition: ease-in-out 0.3s;
  font-size: 18px !important;
  background-image: linear-gradient(to right, rgb(253, 211, 0), rgb(254, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(255, 183, 0), rgb(255, 0, 0)) 1;
}
.lienHe:hover {
  transition: ease-in-out 0.3s;
  font-size: 18px !important;
  background-image: linear-gradient(to right, rgb(253, 253, 253), rgb(38, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 255, 4)) 1;
}
#menu ul.menu-parent>li:nth-child(5)>a:hover {
  transition: ease-in-out 0.3s;
  font-size: 18px;
  background-image: linear-gradient(to right, rgb(68, 255, 0), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(43, 255, 0), rgb(255, 255, 255)) 1;
}

/*child(3) la nut HOME*/
#menu ul.menu-parent>li:nth-child(3)>a:hover {
  transition: ease-in-out 0.4s;
  font-size: 44px !important;
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 0, 0)) 1;
}
#menu ul.menu-parent>li>a{
  transition: ease-in 0.45s; /* Thêm transition cho element a khi không hover */
}

#menu ul.menu-parent>li>a:not(:hover){
  font-size: 16px;
}
/*(1) KẾT THÚC (1)*/

ul.submenu {
  width: 230px;
  min-height: auto;
  background-color: transparent;
  position: absolute;
  display: none;
  padding-left: 0px;
}

ul.menu-parent > li:hover > ul.submenu {
  display: block;
}

ul.submenu li {
  list-style: none;
}

ul.submenu li a {
  display: block;
  line-height: 40px;
  text-indent: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  padding-right: 20px;
  line-height: 39px;
}

/*(2) TẠO HIỆU ỨNG HOVER CHO SUBMENU CỦA ĐẶT VÉ*/
#menu ul.submenu > li > a > p{
  padding: 0;
  margin: 0;
}
#menu ul.submenu > li > a{
  transition: ease-in 0.3s;
}
#menu ul.submenu > li > a:hover{
  transition: ease-in-out 0.3s;
  font-size: 18px;
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 187, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 187, 0)) 1;
}
#menu ul.submenu > li > a:not(:hover){
  font-size: 16px;
}
/*(2) KẾT THÚC (2)*/

/*(3) TẠO HIỆU ỨNG HOVER CHO SUBMENU CỦA LIÊN HỆ*/
a.fb:hover >p{
  transition: ease-in 0.27s ;
  background-image: linear-gradient(to right, rgb(0, 17, 255), rgb(0, 157, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 18px;
}
#menu ul.submenu > li > a.fb:hover{
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(0, 183, 255), rgb(0, 0, 255)) 1;

}
a.instagram:hover > p{
  transition: ease-in 0.27s ;
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(25, 29, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 18px;
}
#menu ul.submenu > li > a.instagram:hover{
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(0, 42, 255), rgb(255, 4, 0)) 1;
}

a.hotline:hover > p{
  transition: ease-in 0.27s ;
  background-image: linear-gradient(to right, rgb(19, 144, 0), rgb(0, 203, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 18px;
}
#menu ul.submenu > li > a.hotline:hover{
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(0, 132, 4), rgb(0, 255, 0)) 1;
}

/*(3) KẾT THÚC (3)*/

/*(4) TẠO HIỆU ỨNG ẨN ĐI CHO ELEMENT 1, 2*/
@media screen and (max-width: 700px) {
  /*Ẩn đi 2 element thừa*/
  #menu .menu-parent>li:first-child,
  #menu .menu-parent>li:last-child {
    display: none;
  }
  
  /* Căn giữa */
  #menu .menu-parent {
    display: flex;
    justify-content: center;
  }
}
/*LÀM CHO 4 ELEMENT THỪA ẨN ĐI KHI MÀN QUÁ NHỎ*/
@media screen and (max-width: 370px) {
  /*Ẩn đi 4 element thừa khi màn qúa nhỏ hehe*/
  #menu .menu-parent > *:not(:nth-child(3)),
  #menu .menu-parent > *:nth-child(1),
  #menu .menu-parent > *:nth-child(2),
  #menu .menu-parent > *:nth-child(4),
  #menu .menu-parent > *:nth-child(5) {
    display: none;
  }
  
  /* Căn giữa */
  #menu .menu-parent {
    display: flex;
    justify-content: center;
  }
}
/*(4) KẾT THÚC (4)*/


/*__________________ẢNH ĐỊA ĐIỂM HOTTOUR__________________________*/
/*__________________ẢNH ĐỊA ĐIỂM HOTTOUR__________________________*/
/*__________________ẢNH ĐỊA ĐIỂM HOTTOUR__________________________*/
/*__________________ẢNH ĐỊA ĐIỂM HOTTOUR__________________________*/
/*__________________ẢNH ĐỊA ĐIỂM HOTTOUR__________________________*/
/*__________________ẢNH ĐỊA ĐIỂM HOTTOUR__________________________*/


/*(2.1) ĐỊA ĐIỂM 1(2.1)*/
.left-home-tourDulich{ /*CHỨA 2 CÁI TOUR HOT*/
  display: flex;
  flex-direction: column;
}
.container-diaDiem{ /*CÁI CHỨA TOUR HOT*/
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding: 0;
}
/*MÀN HÌNH NHỎ HƠN 1300PX THÌ CHUYỂN DIRECTION THÀNH ROW*/
@media screen and (max-width: 1300px) {
  .left-home-tourDulich{
    display: flex;
    flex-direction: row;
  }
  .container-diaDiem{
    margin: 10px;
  } /*THÀNH COLUM*/
  @media screen and (max-width: 700px) {
    .left-home-tourDulich{
      display: flex;
      flex-direction: column;
    }
    .container-diaDiem{
      margin: 10px;
    } 
  }
}


/*_________________THANH TÌM KIẾM________________________*/
/*_________________THANH TÌM KIẾM________________________*/
/*_________________THANH TÌM KIẾM________________________*/
/*_________________THANH TÌM KIẾM________________________*/
/*_________________THANH TÌM KIẾM________________________*/
/*_________________THANH TÌM KIẾM________________________*/

.search__container__containerCanGiua{
  margin-top: 3%;
  width: 100%;
  display: flex;
  justify-content: center; /* Căn giữa ngang */
  align-items: center; /* Căn giữa dọc */
}
.search__container {
  width: 80%;
  max-width: none ;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 20px;
  position: relative;
}

.search__container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(25px);
  }

.search__label {
  display: block;
  margin-left: 0.4em;
  color: #000;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}

.input__description {
  font-size: 0.6em;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.848);
}

.search__bar {
  border: none;
  outline: none;
  width: 100%;
  padding: 0.6em;
  padding-left: 0.9em;
  border-radius: 20px;
  background: #fff;
  transition: background 300ms, color 300ms;
}

.search__bar:hover,.search__bar:focus {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 5px 0px rgba(250, 146, 194, 0.749);
  color: #fff;
}

.container-diaDiem .card-hoverCard{
width: 480px;
height: 235px;
position: relative;
background-color: transparent; /* đổi background thành transparent */
overflow: hidden;
border-radius: 25px;
display: flex;
justify-content: center;
align-items: center;
backdrop-filter: blur(40px); /* áp dụng hiệu ứng blur với độ mờ là 10px */
}

/*TIÊU ĐỀ CỦA TOUR*/
.container-diaDiem .card-hoverCard h2{
z-index: 99;
position: absolute;
color: white;
right: 140px;
top: 140px;

transition: ease .9s;
}

/*CHỮ TOUR HOT*/
h3.tourHot{
background-image: linear-gradient(163deg, #00a7da, #00ff77c8 100%);
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
-o-background-clip: text;
color: transparent;

position: absolute;
z-index: 99;
left: 370px;
top: 30px;
}
.container-diaDiem .card-hoverCard:hover .tourHot{
opacity: 0;
}

/*ẢNH RATING 5 SAO*/
.ratingStar{
width: 80px;
position: absolute;
left: 380px;
top: 75px;
}
.container-diaDiem .card-hoverCard:hover .ratingStar{
opacity: 0;
}

/*PHẦN LỘ TRÌNH BÊN DƯỚI RATING STAR*/
.container-diaDiem .card-hoverCard h4.loTrinh{
  font-size: 11px;
  position: absolute;
  left: 375px;
  color: rgb(7, 59, 108);  
}
/*KHI HOVER VÀO CARD LỘ TRÌNH SẼ BIẾN MẤT*/
.container-diaDiem .card-hoverCard:hover h4.loTrinh{
  opacity: 0;
}


/*GIÁ TIỀN*/
.price-diaDiem{
color: #070869;
z-index: 101;
}
.price-diaDiem1{ /*CHỈNH RIÊNG VỊ TRÍ CỦA GIÁ TIỀN*/
  left: 370px;
  top: 145px;
}
/*GIÁ ĐỊA ĐIỂM 2 :((*/
.price-diaDiem2{
left: 370px;
top: 145px;
}

/*CHỊU?*/
.container-diaDiem .card-hoverCard > h5{
position: absolute;
right: 180px;
}

/*PHẦN GIỚI THIỆU BÊN DƯỚI TIÊU ĐỀ*/
.container-diaDiem .card-hoverCard p {
z-index: 99;
position: absolute;
bottom: 30px;
right: 130px;
width: 200px;
color: #fff;
opacity: 0;
font-size: 12px;
text-align: left;
letter-spacing: 1px;
transition: .5s ease;
}

/*VỊ TRÍ CỦA TOUR DU LỊCH BÊN DƯỚI TIÊU ĐỀ*/
.container-diaDiem .card-hoverCard address.vitri{
z-index: 99;
position: absolute;
width: 200px;
color: #fff;
opacity: 0;
font-size: 12px;
text-align: left;
letter-spacing: 1px;
transition: .5s ease;
opacity: 1;
}
/*CHỈNH RIÊNG VỊ TRÍ CỦA DÒNG CHỮ VỊ TRÍ 2*/
address.vitri1{
top: 190px;
left: 190px;
}
/*KHI HOVER VỊ TRÍ SẼ BIẾN MẤT*/
.container-diaDiem .card-hoverCard:hover address.vitri{
opacity: 0;
}

/*PHẦN GIỚI THIỆU*/ /*KHI HOVER THẺ P(PHẦN GIỚI THIỆU) SẼ HIỆN RA*/
.container-diaDiem .card-hoverCard:hover p.gioiThieuDiaDiem1{
  right: 70px;
  top: 65px;
  transition: ease .9s; 
  opacity: 1;
}

/*NÚT BUTTON BOOKNOW*/
.container-diaDiem .card-hoverCard button.button-diaDiem1{
position: absolute;
left: 370px;
top: 185px;
height: 25px;
width: 100px;
background-image: linear-gradient(163deg, #00a7da, #00ff77c8 100%);
border: none;
border-radius: 25px;
cursor: pointer;
opacity: 1;
transition: .3s ease;
}  
/*NÚT BUTTON BOOKNOW*/
.container-diaDiem .card-hoverCard button.button-diaDiem2{
  position: absolute;
  left: 370px;
  top: 185px;
  height: 25px;
  width: 100px;
  background-image: linear-gradient(163deg, #ff0cff, #eeff00c8 100%);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  opacity: 1;
  transition: .3s ease;
}  
  
/*HIỆU ỨNG HOVER CỦA BUTTON*/
.container-diaDiem .card-hoverCard:hover button{
  height: 450px;
  width: 450px;
  border-radius: 480px;
  position: absolute;
  left: 370px;
  top: 185px;
  transform: translate(-50%, -50%);
  opacity: .7;
  transition: ease .7s;
}

/*CHỮ BOOKNOW*/
.container-diaDiem .card-hoverCard h5.bookNow{
color: rgb(7, 59, 108);
position: absolute;
left: 385px;
top: 192px;
width: 70px;
margin: 0;
padding: 0px;
opacity: 1;
font-size: 11px;
transition: ease .9s;
}
/*HIỆU ỨNG HOVER CỦA BOOK NOW*/
.container-diaDiem .card-hoverCard:hover h5.bookNow{
  scale: 1.3;
  transform: translateX(-1.9%);
  padding: 1px 4px 1px 4px;
  border-radius:  8px;
  color: #ffea00;
  box-shadow: 0px 0px 3px 3px rgba(221, 255, 0, 0.732);
}
/*ĐỔI MÀUHOVER CỦA CHỮ BOOKNOW Ở ĐỊA ĐIỂM 1*/
.container-diaDiem .card-hoverCard:hover h5.bookNow1{
background-image: linear-gradient(163deg, #00a7da, #00ff77c8 100%);
}
/*ĐỔI MÀU HOVER CỦA BOOK NOW 2*/
.container-diaDiem .card-hoverCard:hover h5.bookNow2{
  background-image: linear-gradient(163deg, #ff0000, #29fbff 100%);
}




/*ẢNH ĐIA ĐIỂM 1 - HIỆN TẠI LÀ HOT TOUR*/
.container-diaDiem .card-hoverCard .anh-diaDiem1{
position: relative;
right: 54px;;
width: 350px;
height: 210px;
border-radius: 20px;
background-image: url(../image/2bt1aj9.webp);
background-size: cover;
transition: ease .4s;
filter: grayscale(.8);
}
/*KHI HOVER VÀO CARD ẢNH ĐỊA ĐIỂM SẼ ĐƯỢC PHÓNG TO*/
.container-diaDiem .card-hoverCard:hover .anh-diaDiem1{
  filter: grayscale(0);
  transform: translateX(7.8%);
  border-radius: 30px;
  height: 220px;
  width: 430px;
  transition: ease .8s;
}


/*KHI HOVER VÀO CARD SẼ THAY ĐỔI MÀU CHỮ VÀ VỊ TRÍ CỦA TIÊU ĐỀ*/
.container-diaDiem .card-hoverCard:hover h2#text-diaDiem1{
background-image: linear-gradient(140deg, #e5ff00, rgba(21, 255, 0, 0.8) 100%);
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
-o-background-clip: text;
color: transparent;

transition: ease .9s;
top: 25px;
right: 70px;
}

/*TẠO BOX-SHADOW CHO TOÀN BỘ CARD HOT TOUR*/
.container-diaDiem .diaDiem1:hover{
box-shadow: 0px 0px 40px 2px rgb(0, 255, 225);
}








/*CHỈNH RIÊNG VỊ TRÍ CỦA DÒNG CHỮ VỊ TRÍ 2*/
address.vitri2{
  top: 190px;
  right: 65px;
}




/*ẢNH ĐIA ĐIỂM 1 - HIỆN TẠI LÀ HOT TOUR*/
.container-diaDiem .card-hoverCard .anh-diaDiem2{
position: relative;
right: 54px;;
width: 350px;
height: 210px;
border-radius: 20px;
background-image: url(../image/CauRong_DaNang.webp);
background-size: cover;
transition: ease .4s;
filter: grayscale(.8);
}
/*KHI HOVER VÀO CARD ẢNH ĐỊA ĐIỂM SẼ ĐƯỢC PHÓNG TO*/
.container-diaDiem .card-hoverCard:hover .anh-diaDiem2{
  filter: grayscale(0);
  transform: translateX(7.8%);
  border-radius: 30px;
  height: 220px;
  width: 430px;
  transition: ease .8s;
}


/*KHI HOVER VÀO CARD SẼ THAY ĐỔI MÀU CHỮ VÀ VỊ TRÍ CỦA TIÊU ĐỀ*/
.container-diaDiem .card-hoverCard:hover h2#text-diaDiem2{
background-image: linear-gradient(140deg, #ffd900, rgb(255, 132, 0) 100%);
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
-o-background-clip: text;
color: transparent;

transition: ease .9s;
top: 25px;
right: 70px;
}

/*TẠO BOX-SHADOW CHO TOÀN BỘ CARD HOT TOUR*/
.container-diaDiem .diaDiem2:hover{
box-shadow: 0px 0px 40px 2px rgba(255, 29, 221, 0.749);
}


/*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*//*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*//*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*/
/*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*//*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*//*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*/
/*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*//*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*//*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*/
/*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*//*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*//*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*/
/*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*//*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*//*TỪ ĐÂY LÀ PHẦN RIGHT CONTENT*/

.right-section-home {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}
.diaDiem-card-container-rSection {
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
}
.diaDiem-card-rSection {
  position: relative;
  list-style: none;
  gap: 30px;
  height: 100%;
  width: 200px;
  transition: .3s ease;
  margin-left: 15px;
  margin-right: 15px;
}

.diaDiem-card-rSection:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}
.diaDiem-card-background-rSection {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  border-radius: 20px;
  background-size: 350px;
  background-position: center;
  filter: brightness(.9) saturate(1) contrast(1);
  transform-origin: bottom;
  transform: scale(1) translateZ(0);
  transition: .3s ease;
}
.diaDiem-card-rSection:hover .diaDiem-card-background-rSection{
  transform: scale(1.1) translateZ(0);
  background-size: 260px;
}
.diaDiem-card-container-rSection:hover .card:not(:hover) {
  transform: scale(.9);
}
.diaDiem-card-container-rSection:hover > .diaDiem-card-rSection:not(:hover) .diaDiem-card-background-rSection,
.diaDiem-card-container-rSection:hover > .diaDiem-card-rSection:not(:hover) .diaDiem-card-gioiThieu-rSection {
  filter: brightness(.5) saturate(0) contrast(1.2) blur(20px);
}
.diaDiem-content-rSection {
  top: 50%;
  left: 0;
  padding: 25px;
  position: absolute;
}
.diaDiem-card-gioiThieu-rSection {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.diaDiem-card-heading {
  color: #fff;
  font-size: 25px;
  line-height: 1;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
}

/*-------------RESPPONSIVE CUA RIGHT SECTION HOME PAAGE----------------------*/
/*-------------RESPPONSIVE CUA RIGHT SECTION HOME PAAGE----------------------*/
/*-------------RESPPONSIVE CUA RIGHT SECTION HOME PAAGE----------------------*/
/*-------------RESPPONSIVE CUA RIGHT SECTION HOME PAAGE----------------------*/
/*-------------RESPPONSIVE CUA RIGHT SECTION HOME PAAGE----------------------*/
/*-------------RESPPONSIVE CUA RIGHT SECTION HOME PAAGE----------------------*/

@media screen and (max-width: 705px){
  .diaDiem-card-rSection{
    width: 190px;
  }
  .diaDiem-card-heading{
    font-size: 18px;
  }
  .diaDiem-card-gioiThieu-rSection{
    font-size: 9px;
  }
}
@media screen and (max-width: 655px){
  .diaDiem-card-rSection{
    width: 160px;
  }
  .diaDiem-card-heading{
    font-size: 18px;
  }
  .diaDiem-card-gioiThieu-rSection{
    font-size: 9px;
  }
}
@media screen and (max-width: 555px){
  .diaDiem-card-rSection{
    width: 145px;
  }
  .diaDiem-card-heading{
    font-size: 18px;
  }
  .diaDiem-card-gioiThieu-rSection{
    font-size: 9px;
  }
}
@media screen and (max-width: 515px){
  .diaDiem-card-rSection{
    width: 130px;
  }
  .diaDiem-card-heading{
    font-size: 18px;
  }
  .diaDiem-card-gioiThieu-rSection{
    font-size: 9px;
  }
}

/*---------------------------------------------------*/

/* Container chứa gallery */
.gallery-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media screen and (max-width: 705px){
  .anh-namTrong-banner{
    min-height: 350px;
  }
 
  
}
/* Gallery */
.gallery {
  display: flex;
  transition: transform 0.5s ease;
}
/* Thẻ <a> chứa ảnh */
.gallery a {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  width: 33.33%;
  max-height: 100%;
  overflow: hidden;
  filter: brightness(0.8) contrast(1.2); /* Áp dụng hiệu ứng tối ảnh */
  transition: filter 0.5s ease; /* Thêm hiệu ứng chuyển đổi cho filter */
  position: relative; /* Thêm position relative */
}
/* Ảnh trong thẻ <a> */
.gallery .anh-namTrong-banner {
  width: 100%;
  height: 110%;
  max-height: 120vh;
  object-fit: cover;
}
/* Hover hiệu ứng */
.gallery a:hover {
  filter: brightness(1) contrast(1); /* Bỏ hiệu ứng tối ảnh khi hover */
}


/* Thêm CSS cho container-anh-banner */
.container-anh-banner {
  position: relative;
  margin: 0;
  padding: 0;
  width: 33.33%; /* Độ rộng 33.33% cho mỗi container */
}

.banner-title{
  position: absolute;
  bottom: 5%;

  color: #fff;

}
